<app-navbar-style-two></app-navbar-style-two>
 
<div class="page-title-area page-title-img-one"> 
    <div class="container"> 
        <div class="page-title-item"> 
            <h2>Shops</h2> 
            <ul> 
                <li><a routerLink="/">Home</a></li> 
                <li><i class='bx bx-chevron-right' ></i></li> 
                <li>Shops</li> 
            </ul> 
        </div> 
    </div> 
</div> 
 
<div class="feature-area pt-100 pb-70"> 
    <div class="container"> 
        <div class="row"> 
            <div class="col-sm-6 col-lg-4" *ngFor="let store of storeService.All_Stores_From_All_Providers"> 
                <div class="feature-item"> 
                    <img src="assets/img/shops/shop2.jpg" alt="Feature"> 
             
                    <div class="feature-inner"> 
                        <ul> 
                            <li><span>{{store.storename}}</span></li> 
                            <li><a routerLink="/merchindise1"><i class='bx bx-right-arrow-alt'></i></a></li> 
                            <li><a (click)="navigateToBookDetail(store.storeid)"><i class='bx bx-right-arrow-alt'></i></a></li> 
                        </ul> 
                    </div> 
                </div> 
            </div> 
 <!--
            <div class="col-sm-6 col-lg-4"> 
                <div class="feature-item"> 
                    <img src="assets/img/shops/shop4.jpg" alt="Feature"> 
 
                    <div class="feature-inner"> 
                        <ul> 
                          
                            <li><span>Food Space</span></li> 
                            <li><a routerLink="/"><i class='bx bx-right-arrow-alt'></i></a></li> 
                        </ul> 
                    </div> 
                </div> 
            </div> 
 
            <div class="col-sm-6 col-lg-4"> 
                <div class="feature-item"> 
                    <img src="assets/img/shops/shop1.jpg" alt="Feature"> 
 
                    <div class="feature-inner"> 
                        <ul> 
                            <li><span>Market Place</span></li> 
                            <li><a routerLink="/food-collection"><i class='bx bx-right-arrow-alt'></i></a></li> 
                        </ul> 
                    </div> 
                </div> 
            </div> 
        -->
            <!-- <div class="col-sm-6 col-lg-4"> 
                <div class="feature-item"> 
                    <img src="assets/img/shops/shop3.jpg" alt="Feature"> 
 
                    <div class="feature-inner"> 
                        <ul> 
                            <li><img src="assets/img/home-one/feature3.png" alt="Feature"></li> 
                            <li><span>Asian Food</span></li> 
                            <li><a routerLink="/"><i class='bx bx-right-arrow-alt'></i></a></li> 
                        </ul> 
                    </div> 
                </div> 
            </div> 
 
            <div class="col-sm-6 col-lg-4"> 
                <div class="feature-item"> 
                    <img src="assets/img/home-one/feature5.jpg" alt="Feature"> 
 
                    <div class="feature-inner"> 
                        <ul> 
                            <li><img src="assets/img/home-one/feature3.png" alt="Feature"></li> 
                            <li><span>Desi Food</span></li> 
                            <li><a routerLink="/"><i class='bx bx-right-arrow-alt'></i></a></li> 
                        </ul> 
                    </div> 
                </div> 
            </div> 
 
            <div class="col-sm-6 col-lg-4"> 
                <div class="feature-item"> 
                    <img src="assets/img/home-one/feature6.jpg" alt="Feature"> 
 
                    <div class="feature-inner"> 
                        <ul> 
                            <li><img src="assets/img/home-one/feature3.png" alt="Feature"></li> 
                            <li><span>Chinese Food</span></li> 
                            <li><a routerLink="/"><i class='bx bx-right-arrow-alt'></i></a></li> 
                        </ul> 
                    </div></div> 
            </div> --> 
        </div> 
    </div> 
</div> 
 
<app-footer-style-two></app-footer-style-two>