
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
body {
    width: 430px;
    margin: 0 auto;
    background-color: #F7CAC9;
    font-family: 'Raleway', sans-serif;
}
.feature-item .feature-inner ul li a {
    &.disabled{
        background-color: #b4b4b4;
    }
    
}
.search {
    &__container {
        padding-top: 64px;
    }
    
    &__title {
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        color: #ff8b88;
    }
    
    &__input {
        width: 73%;
        padding: 12px 24px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        
        color: #575756;
        background-color: transparent;
 
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        
        &::placeholder {
            color: color(#575756 a(0.8));
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }
        
        &:hover,
        &:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
        }
    }
}
.row{
    justify-content: space-evenly !important;
}
.credits {
    &__container {
        margin-top: 24px;
    }
    
    &__text {
        text-align: center;
        font-size: 13px;
        line-height: 18px;
    }
    
    &__link {
        color: #ff8b88;
        text-decoration: none;
        transition: color 250ms ease-in;
        
        &:hover,
        &:focus {
            color: color(#ff8b88 blackness(+25%));
        }
    }
}
.search-title {
  font-size: 16px;
  font-weight: bold;
}
.highlighted-text {
  color: #ffbe00; 
}
.testim-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}
.testim-icon {
  position: absolute;
  top: -20px;
  left: 20px;
  font-size: 30px;
  color: #ffbe00; 
}
.post-date {
  font-style: italic;
}
