<app-sidebar></app-sidebar>
<app-navbar></app-navbar>

<div class="content">
<div class="cart-table-area section-padding-100"> 
    <div class="container-fluid"> 
        <div class="profile-container" style="max-width: 800px; margin: 0 auto;"> 
            <div class="profile-details" style="max-width: 800px; margin: 0 auto;"> 
                <div class="profile-image"> 
                    <img src="assets/img/profile.jpg" alt="Profile Image"> 
                </div> 
                <br /> 
 
                <div class="form-group"> 
                    <label for="Name">Full Name:</label> 
                    <input type="text" id="Name" class="form-control" value="Tabarak Matalka" readonly> 
                </div> 
               
                <div class="form-group"> 
                    <label for="username">Username:</label> 
                    <input type="text" id="username" class="form-control" value="Admin" readonly> 
                </div> 
                <div class="form-group"> 
                    <label for="email">Email:</label> 
                    <input type="text" id="email" class="form-control" value="tsamatalka19@cit.just.edu.jo" readonly> 
                </div> 
                <div class="form-group"> 
                    <label for="phone">Phone:</label> 
                    <input type="text" id="phone" class="form-control" value="079865432" readonly> 
                </div> 
         
                <div class="text-center"> 
                    
                    <a class="btn btn-primary mt-3" href="/Home/EditProfile/@Model.Id" style="background: #007bff;"> Edit Profile</a> 
                    
                </div> 
            </div> 
        </div> 
    </div> 
</div> 
</div> 
