<div class="login-container">
    <form class="login-form" [formGroup]="loginForm">
      <img class="logo" src="assets/img/LogoProject.png" alt="Logo">
      
      <!-- Email input with validation -->
      <div class="input-field">
        <input formControlName="username" type="email" placeholder="Email">
        <div *ngIf="loginForm.get('username').dirty && loginForm.get('username').hasError('required')" class="error-message">
          Email is required
        </div>
        <div *ngIf="loginForm.get('username').dirty && loginForm.get('username').hasError('invalidEmail')" class="error-message">
            Invalid email. Must a university email ex. @cit.just.edu.jo
        </div>
      </div>
      
      <!-- Password input with validation -->
      <div class="input-field">
        <input formControlName="password" type="password" placeholder="Password">
        <div *ngIf="loginForm.get('password').dirty && loginForm.get('password').hasError('required')" class="error-message">
          Password is required
        </div>
      </div>
      
      <!-- Forgot password link -->
      <div class="forgot-password">
        <a href="#" class="forgot-password-link">Forgot Password?</a>
      </div>
      
      <!-- Login button -->
      <button type="submit" class="login-button" (click)="Login()">Login</button>
      
      <!-- Signup link -->
      <div class="signup-link">
        <span>Don't have an account?</span>
        <a routerLink="/auth/register">Sign Up</a>
      </div>
    </form>
  </div>
  