<app-sidebar></app-sidebar>
<app-navbar></app-navbar>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="content">
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light rounded p-4">
            <h3 style="color: #007bff;"><i class="fa fa-store"></i> Pending Stores</h3>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-dark">
                            <!-- <th scope="col">Store ID</th> -->
                            <!-- <th scope="col">Provider Name</th> -->
                            <th scope="col">Store Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Image</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let store of admin.storerequests">
                            <!-- <td>{{ store.storeid }}</td> -->
                            <td>{{ store.storename }}</td>
                            <td>{{store.approvalstatus}}</td>
                            <td><img [src]="store.Image" alt="Store Image" style="width: 50px; height: 50px;"></td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-sm btn-primary action-button" (click)="acceptStore(store.storeid)">Accept</button>
                                    <button type="button" class="btn btn-sm btn-danger action-button" (click)="rejectStore(store.storeid)">Reject</button>
                                </div>
                            </td>
                            
                        </tr>
                        <tr>
                          
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
