<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<app-navbar-style-two></app-navbar-style-two>
<div class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2>Write Testmonial</h2>
            <ul>
                <li><a routerLink="/">Testmonial</a></li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>Write Testmonial</li>
            </ul>
        </div>
    </div>
</div>

<div class="contact-form-area ptb-100">
    <div class="container" >
        <div class="row" style="display: flex; justify-content: center; align-items: center; ">
            <div class="col-lg-6">
                
                <div class="contact-item">
                    <h6 style="color: #000;">Share your experience<span style="color: #ffbe00; font-weight: bold;">  by writing a testimonial.</span></h6>
        <br />
        <form id="contactForm">
            <div class="row">
                <div class="col-sm-6 col-lg-12">
                    <div class="form-group">
                        <label for="yourName">Your Name:</label>
                        <input type="text" name="yourName" id="yourName" class="form-control" required placeholder="Enter Your Name">
                    </div>
                </div>
                <div class="col-sm-6 col-lg-12">
                    <div class="form-group">
                        <label for="shopName">Shop Name:</label>
                        <input type="text" name="shopName" id="shopName" class="form-control" required placeholder="Enter Shop Name">
                    </div>
                </div>
        
       
        <div class="col-md-12 col-lg-12"> 
            <div class="form-group"> 
                <textarea name="message" class="form-control" id="message" cols="30" rows="6" required placeholder="Your Testimonial:"></textarea> 
            </div> 
        </div> 

        <div class="col-md-12 col-lg-12" style="display: flex; justify-content: center; align-items: center; "> 
            <button type="submit" class="cmn-btn btn" >Submit Testimonial</button> 
        </div> 
    </div> 

</form>



</div> 
</div> 
</div> 
</div> 
</div> 



<app-footer-style-two></app-footer-style-two>
