<app-navbar></app-navbar>

<div class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2>Write Testimonial</h2>
            <ul>
                <li><a routerLink="/">Testimonial</a></li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>Write Testimonial</li>
            </ul>
        </div>
    </div>
</div>

<div class="contact-form-area ptb-100">
    <div class="container">
        <div class="row" style="display: flex; justify-content: center; align-items: center;">
            <div class="col-lg-6">
                <div class="contact-item">
                    <h6 style="color: #000; font-size: 18px;">Share your experience<span style="color: #ffbe00; font-weight: bold;">  by writing a testimonial.</span></h6>
                    <br />
                    <form id="contactForm"  [formGroup]="testimonialForm" (submit)="submitTestimonialForm()">
                        <div class="form-group">
                            <label for="dateOfPosted">Date of Posted:</label>
                            <input type="date" formControlName="dateOfPosted" id="dateOfPosted" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="yourTestimonial">Your Testimonial:</label>
                            <textarea formControlName="testimonialtext" id="yourTestimonial" class="form-control" rows="6" required></textarea>
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <button type="submit" class="cmn-btn btn" style="background-color: #ffbe00;">Submit Testimonial</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer-style-two></app-footer-style-two>