
.contact-item h6 {
    font-size: 16px; 
}

.cmn-btn {
    background-color: #ffbe00; 
    color: #fff; 
    border: none; 
}

#message {
    font-size: 18px; 
}

textarea#message {
    height: 80px; 
   // resize: both;
}

.cmn-btn.btn.submitting {
    animation: colorChange 1s ease;
  }
  
  @keyframes colorChange {
    0% {
      background-color: #ffbe00; /* Initial background color */
    }
    50% {
      background-color: #ffa500; /* Color change halfway through the animation */
    }
    100% {
      background-color: #ffbe00; /* Final background color */
    }
  }
  
