<app-sidebar></app-sidebar>
<app-navbar></app-navbar>

<div class="content">
  <div class="container-fluid pt-4 px-4">
    <div class="card">
      <div class="card-header bg-light">
        <h3 class="card-title" style="color: #007bff;"><i class="fa fa-envelope"></i> Contact Us</h3>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let contact of contactUsList">
        <div class="card">
          <div class="card-header bg-light">
            <h5 class="card-title" style="color: #000;">Contact Information</h5>
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              <li><strong>Name:</strong> {{ contact.fullname }}</li>
              <li><strong>Email:</strong> {{ contact.email }}</li>
              <li><strong>Subject:</strong> {{ contact.subject }}</li>
              <li><strong>Message:</strong> {{ contact.message }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
