<app-navbar></app-navbar>

<div class="banner-area-two">
    <!-- <div class="banner-shape">


        <img src="assets/img/home-two/banner/1.png" alt="Shape">
        <img src="assets/img/home-two/banner/2.png" alt="Shape">
        <img src="assets/img/home-two/banner/3.png" alt="Shape">
    </div> -->

    <div class="container">
        <div class="banner-content">
            <h1>Elevate Your Campus <br /><br />Experience</h1>
            
            <p>Explore, Engage, Excel</p>
            <div class="banner-btn-wrap">
                <a class="cmn-btn" routerLink="/online-order">Order Now</a>
                <!-- <a class="banner-btn-two" routerLink="/contact">Get Free Call</a> -->
            </div>
        </div>

        <div class="banner-img">
            <img src="assets/img/delvMan.png" alt="Banner">
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<!-- <div class="food-img-area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="food-img-item">
                    <img src="assets/img/home-two/banner/food1.png" alt="Food">
                </div>
            </div>

            <div class="col-6 col-sm-4 col-lg-2">
                <div class="food-img-item">
                    <img src="assets/img/home-two/banner/food2.png" alt="Food">
                </div>
            </div>

            <div class="col-6 col-sm-4 col-lg-2">
                <div class="food-img-item">
                    <img src="assets/img/home-two/banner/food3.png" alt="Food">
                </div>
            </div>

            <div class="col-6 col-sm-4 col-lg-2">
                <div class="food-img-item">
                    <img src="assets/img/home-two/banner/food4.png" alt="Food">
                </div>
            </div>

            <div class="col-6 col-sm-4 col-lg-2">
                <div class="food-img-item">
                    <img src="assets/img/home-two/banner/food5.png" alt="Food">
                </div>
            </div>

            <div class="col-6 col-sm-4 col-lg-2">
                <div class="food-img-item">
                    <img src="assets/img/home-two/banner/food6.png" alt="Food">
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="about-area">
    <div class="about-shape">
        <!-- <img src="assets/img/home-two/about3.png" alt="Shape">
        <img src="assets/img/home-two/about4.png" alt="Shape">
        <img src="assets/img/home-two/about5.png" alt="Shape"> -->
        <!-- <img src="assets/img/home-two/about6.png" alt="Shape"> -->
        <!-- <img src="assets/img/home-two/about7.png" alt="Shape"> -->
    </div>

    <div class="container-fluid p-0">
        <div class="row m-0 align-items-center">
            <div class="col-lg-6 p-0">
                <br /><br /><br /><br />
                <div class="about-img">
                   
                    <img src="assets/img/about1.png" alt="About">
                    <img src="assets/img/delman2.png" alt="About">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title">
                        <!-- <span class="sub-title">About Us</span> -->
                        <h2>Campus Mart Where Creativity Meets Opportunity!</h2>
                        <p>The only application that is dedicated to providing a platform for students to showcase their products and personal projects, ensuring they have opportunities for employment within the university campus and among its students.</p>
                    </div>
                    <a class="cmn-btn" routerLink="/about">Know More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="services-area services-area-two ptb-100">
    <div class="container">
        <div class="section-title">
            <h2> Our Services</h2>
            <p>Explore a spectrum of tailored services at Campus Mart , designed to enhance your campus experience – from swift deliveries to a diverse array of offerings, we've got your needs covered!</p>
        </div>

        
        <div class="services-slider owl-theme owl-carousel">
            <div class="services-item">
                <a routerLink="/services-details">
                    <img src="assets/img/home-one/services6.png" alt="services-image">
                    <h3>Display Your Products</h3>
                    <p>
                         Our platform empowers you with the ability to beautifully display and present your products to the entire campus community by applying to be as service provider.</p>
                </a>
            </div>

            <div class="services-item">
                <a routerLink="/services-details">
                    <img src="assets/img/home-one/services2.png" alt="services-image">
                    <h3> Fast  Delivery</h3>
                    <p> Welcome to a new era of swift and reliable service at your fingertips! we're committed to making every delivery a seamless and timely experience.</p>
                  
                </a>
            </div>

            <div class="services-item">
                <a routerLink="/services-details">
                    <img src="assets/img/home-one/services3.png" alt="services-image">
                    <h3>Discount Voucher</h3>
                    <p>Join us in making your shopping spree not just rewarding but also cost-effective with our enticing Discount Voucher offers. Happy shopping and saving!</p>
                </a>
            </div>

            
        </div>
    </div>
</section>

<!-- <section class="collection-area collection-area-two ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Our Regular Food Collections</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="sorting-menu">
            <ul> 
               <li class="filter active" data-filter="all">All</li>
               <li class="filter" data-filter=".web">Fast Food</li>
               <li class="filter" data-filter=".ui">Platters</li>
               <li class="filter" data-filter=".ux">Dessert</li>
               <li class="filter" data-filter=".branding">Asian Food</li>
            </ul>
        </div>

        <div id="Container" class="row">
            <div class="col-sm-6 col-lg-3 mix web ui">
                <div class="collection-item">
                    <div class="collection-top">
                        <img src="assets/img/home-one/collection/1.jpg" alt="Collection">
                        <ul>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                        </ul>
                        <div class="add-cart">
                            <a routerLink="/cart"><i class='bx bxs-cart'></i> Add to Cart</a>
                        </div>
                    </div>

                    <div class="collection-bottom">
                        <h3>Dark Chocolate Cake</h3>
                        <ul>
                            <li><span>$25</span></li>
                            <li>
                                <div class="number">
                                    <span class="minus">-</span>
                                    <input type="text" class="form-control" value="1"/>
                                    <span class="plus">+</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 mix ui">
                <div class="collection-item">
                    <div class="collection-top">
                        <img src="assets/img/home-one/collection/2.jpg" alt="Collection">
                        <ul>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                        </ul>
                        <div class="add-cart">
                            <a routerLink="/cart"><i class='bx bxs-cart'></i> Add to Cart</a>
                        </div>
                    </div>
                    <div class="collection-bottom">
                        <h3>Cake with Drinks</h3>
                        <ul>
                            <li><span>$15</span></li>
                            <li>
                                <div class="number">
                                    <span class="minus">-</span>
                                    <input type="text" class="form-control" value="1"/>
                                    <span class="plus">+</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 mix ux ui">
                <div class="collection-item">
                    <div class="collection-top">
                        <img src="assets/img/home-one/collection/3.jpg" alt="Collection">
                        <ul>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                        </ul>
                        <div class="add-cart">
                            <a routerLink="/cart"><i class='bx bxs-cart'></i> Add to Cart</a>
                        </div>
                    </div>
                    <div class="collection-bottom">
                        <h3>Doughnut Chocolate</h3>
                        <ul>
                            <li><span>$20</span></li>
                            <li>
                                <div class="number">
                                    <span class="minus">-</span>
                                    <input type="text" class="form-control" value="1"/>
                                    <span class="plus">+</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 mix branding web">
                <div class="collection-item">
                    <div class="collection-top">
                        <img src="assets/img/home-one/collection/4.jpg" alt="Collection">
                        <ul>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                        </ul>
                        <div class="add-cart">
                            <a routerLink="/cart"><i class='bx bxs-cart'></i> Add to Cart</a>
                        </div>
                    </div>
                    <div class="collection-bottom">
                        <h3>Dark Chocolate Cake</h3>
                        <ul>
                            <li><span>$23</span></li>
                            <li>
                                <div class="number">
                                    <span class="minus">-</span>
                                    <input type="text" class="form-control" value="1"/>
                                    <span class="plus">+</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 mix web branding">
                <div class="collection-item">
                    <div class="collection-top">
                        <img src="assets/img/home-one/collection/5.jpg" alt="Collection">
                        <ul>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                        </ul>
                        <div class="add-cart">
                            <a routerLink="/cart"><i class='bx bxs-cart'></i> Add to Cart</a>
                        </div>
                    </div>
                    <div class="collection-bottom">
                        <h3>Sweet Dougnuts</h3>
                        <ul>
                            <li><span>$35</span></li>
                            <li>
                                <div class="number">
                                    <span class="minus">-</span>
                                    <input type="text" class="form-control" value="1"/>
                                    <span class="plus">+</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 mix ui web">
                <div class="collection-item">
                    <div class="collection-top">
                        <img src="assets/img/home-one/collection/6.jpg" alt="Collection">
                        <ul>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                        </ul>
                        <div class="add-cart">
                            <a routerLink="/cart"><i class='bx bxs-cart'></i> Add to Cart</a>
                        </div>
                    </div>
                    <div class="collection-bottom">
                        <h3>Birthday Cake</h3>
                        <ul>
                            <li><span>$32</span></li>
                            <li>
                                <div class="number">
                                    <span class="minus">-</span>
                                    <input type="text" class="form-control" value="1"/>
                                    <span class="plus">+</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 mix ux branding">
                <div class="collection-item">
                    <div class="collection-top">
                        <img src="assets/img/home-one/collection/7.jpg" alt="Collection">
                        <ul>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                        </ul>
                        <div class="add-cart">
                            <a routerLink="/cart"><i class='bx bxs-cart'></i> Add to Cart</a>
                        </div>
                    </div>
                    <div class="collection-bottom">
                        <h3>Chocolate Ice Cream</h3>
                        <ul>
                            <li><span>$28</span></li>
                            <li>
                                <div class="number">
                                    <span class="minus">-</span>
                                    <input type="text" class="form-control" value="1"/>
                                    <span class="plus">+</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 mix branding ui">
                <div class="collection-item">
                    <div class="collection-top">
                        <img src="assets/img/home-one/collection/8.jpg" alt="Collection">
                        <ul>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                        </ul>
                        <div class="add-cart">
                            <a routerLink="/cart"><i class='bx bxs-cart'></i> Add to Cart</a>
                        </div>
                    </div>
                    <div class="collection-bottom">
                        <h3>Dark Chocolate Cake</h3>
                        <ul>
                            <li><span>$27</span></li>
                            <li>
                                <div class="number">
                                    <span class="minus">-</span>
                                    <input type="text" class="form-control" value="1"/>
                                    <span class="plus">+</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="more-collection">
            <a routerLink="/food-collection">View More Colletction</a>
        </div>
    </div>
</section> -->

<!-- <section class="download-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="download-content">
                    <div class="section-title">
                        <span class="sub-title">Download</span>
                        <h2>Download Our Mobile App That Make You More Easy to Order</h2>
                        <p>Restaurants range from inexpensive and informal lunching or dining places catering to people working nearby, with modest food served in simple settings at low prices.</p>
                    </div>

                    <ul>
                        <li><span>01</span> Select Your Food</li>
                        <li><span>02</span> Add to Cart</li>
                        <li><span>03</span> Order Your Food</li>
                    </ul>

                    <div class="app-wrap">
                        <a href="#"><img src="assets/img/home-two/google-store.png" alt="Google"></a>
                        <a href="#"><img src="assets/img/home-two/app-store.png" alt="App"></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="download-img">
                    <img src="assets/img/home-two/download1.png" alt="Download">
                </div>
            </div>
        </div>
    </div>
</section> -->

<div class="join-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="join-img">
                    <img src="assets/img/join1.png" alt="Join">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="join-content">
                    <div class="section-title">
                        <h2>Join As a Service Provider</h2>
                        <p>Join us as a service provider by adding your shop details and offerings. Don't miss out on the opportunity to become a valuable part of our dynamic platform, connecting with students and enhancing your business presence within the university ecosystem</p>
                    </div>
                    <a class="cmn-btn" routerLink="/contact">Apply Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="chef-area chef-area-two pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our Special Shops</h2>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="chef-item">
                    <div class="chef-top">
                        <img src="assets/img/shops/shop2.jpg" alt="Chef">
                        <div class="chef-inner">
                            <h3>Book Planet</h3>
                        </div>
                    </div>
                    <div class="chef-bottom">
                        <ul>
                            <li><a target="_blank" href="#"><i class='bx bxl-facebook'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-twitter'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-instagram'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="chef-item">
                    <div class="chef-top">
                        <img src="assets/img/shops/shop4.jpg" alt="Chef">
                        <div class="chef-inner">
                            <h3>Food Space</h3>
                            
                        </div>
                    </div>
                    <div class="chef-bottom">
                        <ul>
                            <li><a target="_blank" href="#"><i class='bx bxl-facebook'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-twitter'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-instagram'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="chef-item">
                    <div class="chef-top">
                        <img src="assets/img/shops/shop6.jpg" alt="Chef">
                        <div class="chef-inner">
                            <h3>Sunrise Books</h3>
                            
                        </div>
                    </div>
                    <div class="chef-bottom">
                        <ul>
                            <li><a target="_blank" href="#"><i class='bx bxl-facebook'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-twitter'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-instagram'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="chef-item">
                    <div class="chef-top">
                        <img src="assets/img/shops/shop1.jpg" alt="Chef">
                        <div class="chef-inner">
                            <h3>Market Place</h3>
                        </div>
                    </div>
                    <div class="chef-bottom">
                        <ul>
                            <li><a target="_blank" href="#"><i class='bx bxl-facebook'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-twitter'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-instagram'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="review-area review-area-two">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="review-img">
                    <img src="assets/img/LogoProject2.png" alt="Review">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="review-item">
                    <div class="section-title">
                        <h2>What People Say About Us</h2>
                    </div>

                    <div class="slider-nav">
                        <div class="item">
                            <img src="assets/img/malefeedback1.png" alt="image"  draggable="false"/>
                        </div>

                        <div class="item">
                            <img src="assets/img/femalefeedback1.png" alt="image" draggable="false"/>
                        </div>

                        <div class="item">
                            <img src="assets/img/femalefeedback2.png" alt="image" draggable="false"/>
                        </div>


                        <div class="item">
                            <img src="assets/img/malefeedback2.png" alt="image" draggable="false"/>
                        </div>

                       
                    </div>

                    <div class="slider-for">
                        <div class="item">
                            <h3>Osama Ali</h3>
                            <p>As a user, I've not only found amazing products but also job opportunities aligning with my interests. This platform goes beyond a marketplace; it's a space for collaboration and networking, bringing valuable connections and opportunities my way.</p>
                        </div>

                        <div class="item">
                            <h3>Noor Mohmmad</h3>
                            <p>This platform transforms my university experience. It's not just about academics; it's a treasure trove of creativity, from handmade crafts to innovative projects, adding significant value to campus life.</p>
                        </div>

                        <div class="item">
                            <h3>Raghad Omar</h3>
                            <p>This platform adds a dynamic touch to my university life. I discover unique products and projects from fellow students, making it a great space to explore and support campus talents.</p>
                        </div>

                        <div class="item">
                            <h3>Tareq Ahmad</h3>
                            <p>Finding interesting products and projects on this platform is a breeze. It's a user-friendly hub for creativity and innovation right on our campus, offering a fresh perspective to my university experience.</p>
                        </div>

                        
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br>
<br>


<app-footer></app-footer>