<app-navbar></app-navbar>

<div class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2>Track Order</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>Track Order</li>
            </ul>
        </div>
    </div>
</div>
<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4 mt-3">
       <div class="first d-flex justify-content-between align-items-center mb-3">
         <div class="info">
             <span *ngIf="currentUser=='consumer'" class="d-block name">Thank you, {{consumerData?.fullname}}</span>
             
              
         </div>
        
          <img src="assets/img/deliveryLogo.jpg" width="140" style="width: 120px; height: 120px;"/>
           

       </div>
           <div class="detail">
       <span *ngIf="currentOrder?.orderstatus=='pending' && currentUser=='consumer'" class="d-block summery">Your order is pending to be accepted by provider . . .</span>
       <span *ngIf="currentOrder?.orderstatus=='Accepted' && currentUser=='consumer'" class="d-block summery">Your order is On the way . . .</span>
       <span *ngIf="currentOrder?.orderstatus=='Accepted'" class="d-block summery">Estimated Time: {{estimatedTime}} Min</span>
       
       <div class="horizontal-bar-wrap">
        <div *ngIf="currentOrder" class="bar1 bar" [class.accepted]="currentOrder?.orderstatus=='Accepted' && currentUser=='consumer'"></div>

      </div>
           </div>
           <google-map *ngIf="currentOrder?.orderstatus=='Accepted'"
           height="400px"
           width="1152px"
           [center]="center"
           [zoom]="zoom"
         >
         <map-marker #marker="mapMarker" *ngFor="let marker of markers" [position]="marker.position"
                         [label]="marker.label" [title]="marker.title" [options]="marker.options"></map-marker>
                         
         </google-map>
       <hr>
       <button *ngIf="currentOrder?.orderstatus=='Accepted' && currentUser=='consumer'" (click)="endOrder()">Order Received</button>
       <div *ngIf="consumerData" class="text">
     <span class="d-block new mb-1" >{{consumerData?.fullname}}</span>
     
      </div>
     
     </div>
 </div>

<br />







<app-footer-style-two></app-footer-style-two>
