<app-sidebar></app-sidebar>
<app-navbar></app-navbar>

<div class="content">
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light rounded p-4">
            <h3 style="color: #007bff;"><i class="fa fa-exclamation-circle"></i> Pending Merchandise</h3>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-dark">
                            <th scope="col">Merchandise Name</th>
                            <th scope="col">Description</th>
                            <!-- <th scope="col">Store Name</th> -->
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let merchandise of admin.pendingMerchandise">
                            <td>{{ merchandise.name }}</td>
                            <td>{{ merchandise.description }}</td>
                            <!-- <td>{{ merchandise.storeName }}</td> -->
                            <td>{{ merchandise.status }}</td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-sm btn-success action-button" (click)="acceptMerchandise(merchandise.productid)">Approve</button>
                                    <button type="button" class="btn btn-sm btn-danger action-button" (click)="rejectMerchandise(merchandise.productid)">Reject</button>
                                </div>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
