<app-navbar-style-two></app-navbar-style-two>
 
<div class="page-title-area page-title-img-one"> 
    <div class="container"> 
        <div class="page-title-item"> 
            <h2>Contact Us</h2> 
            <ul> 
                <li><a routerLink="/">Home</a></li> 
                <li><i class='bx bx-chevron-right' ></i></li> 
                <li>Contact Us</li> 
            </ul> 
        </div> 
    </div> 
</div> 
 
<div class="contact-location-area pt-100 pb-70"> 
    <div class="container"> 
        <div class="row"> 
            <div class="col-sm-6 col-lg-4"> 
                <div class="location-item"> 
                    <img src="assets/img/home-one/services-shape.png" alt="Location"> 
                    <i class='bx bxs-time-five'></i> 
                    <ul> 
                        <li>9:00 AM to 5:00 PM</li> 
                        <li>(Sunday to Thursday)</li> 
                    </ul> 
                </div> 
            </div> 
 
            <div class="col-sm-6 col-lg-4"> 
                <div class="location-item active"> 
                    <img src="assets/img/home-one/services-shape.png" alt="Location"> 
                    <i class='bx bxs-location-plus'></i> 
                    <ul> 
                        <li>JUST, 3030, Ar-Ramtha, Irbid, Jordan</li> 
                    </ul> 
                </div> 
            </div> 
 
            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4"> 
                <div class="location-item"> 
                    <img src="assets/img/home-one/services-shape.png" alt="Location"> 
                    <i class='bx bxs-phone-call'></i> 
                    <ul> 
                        <li><a href="tel:+11234567890"> +962789539545</a></li> 
                    </ul> 
                </div> 
            </div> 
        </div> 
    </div> 
</div> 
 
<div class="contact-form-area ptb-100"> 
    <div class="container"> 
        <div class="row"> 
            <div class="col-lg-6"> 
                <div class="contact-item"> 
                    <form id="contactForm" [formGroup]="contactForm" (ngSubmit)="submitContactForm()"> 
                        <div class="row"> 
                            <div class="col-sm-6 col-lg-12"> 
                                <div class="form-group"> 
                                    <input type="text" formControlName="fullname" id="fullname" class="form-control" required placeholder="Full Name"> 
                                </div> 
                            </div> 

                            <div class="col-sm-6 col-lg-12"> 
                                <div class="form-group"> 
                                    <input type="email" formControlName="email" id="email" class="form-control" required placeholder="Email"> 
                                </div> 
                            </div> 

                            <div class="col-sm-6 col-lg-12"> 
                                <div class="form-group"> 
                                    <input type="text" formControlName="phoneNumber" id="phoneNumber" class="form-control" required placeholder="Phone Number"> 
                                </div> 
                            </div> 

                            <div class="col-sm-6 col-lg-12"> 
                                <div class="form-group"> 
                                    <input type="text" formControlName="subject" id="subject" class="form-control" required placeholder="Subject"> 
                                </div> 
                            </div> 

                            <div class="col-md-12 col-lg-12"> 
                                <div class="form-group"> 
                                    <textarea formControlName="message" class="form-control" id="message" cols="30" rows="6" required placeholder="Message"></textarea> 
                                </div> 
                            </div>
                            <div class="col-md-12 col-lg-12"> 
                                <button type="submit" class="cmn-btn btn custom-btn">Send Message</button> 
                            </div>
                            
                            
                        </div> 
                    </form>
                    <div class="contact-social"> 
                        <span>Follow Us on</span> 
 
                        <ul> 
                            <li><a  target="_blank"><i class='bx bxl-facebook'></i></a></li> 
                            <li><a  target="_blank"><i class='bx bxl-twitter'></i></a></li> 
                            <li><a  target="_blank"><i class='bx bxl-instagram'></i></a></li> 
                            <li><a  target="_blank"><i class='bx bxl-youtube'></i></a></li> 
                        </ul> 
                    </div> 
                </div> 
            </div> 
             
            <div class="col-lg-6"> 
                <div class="contact-img"> 
                    <img src="assets/img/join1.png" alt="Contact"> 
                </div> 
            </div> 
        </div> 
    </div> 
</div> 
 
<app-footer-style-two></app-footer-style-two>