<app-navbar-style-two></app-navbar-style-two>
<div class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2>Apply As Service Provider</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>Apply As Service Provider</li>
            </ul>
        </div>
    </div>
</div>
<div id="container">
    <form (ngSubmit)="submitServiceProviderForm()" [formGroup]="providerForm">
        <h6 style="color: #000; text-align: center; font-size: 12px; font-weight: bold;">Please fill out this form to <span style="color: #ffbe00;">apply as a service provider </span>on our platform.</h6>

        <fieldset>
            <legend><span class="number">1</span>Your basic details</legend>
            <label for="contactNumber">Contact Number:</label>
            <input type="tel" id="phone" placeholder="Enter your contact number" formControlName="phone">
            <input type="hidden" formControlName="status" value="Pending">
        </fieldset>
        
        <fieldset>
            <legend><span class="number">2</span>Motivation</legend>
            <label for="motivation">Motivation:</label>
            <textarea id="motivation" placeholder="Write your motivation here..." formControlName="motivation"></textarea>
        </fieldset>
        
        <button type="submit" [disabled]="providerForm.invalid">Submit Details</button>
        
        <h6 style="color: #000; text-align: center; font-size: 12px; font-weight: bold;">If you receive a <span style="color: #ffbe00;">notification of approval</span>, you can start creating your store.</h6>
    </form>
</div>
<app-footer-style-two></app-footer-style-two>
