<app-navbar-style-two></app-navbar-style-two>

<div class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2>Apply As Service Provider</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>Apply As Service Provider</li>
            </ul>
        </div>
    </div>
</div>

<div id="container">
    <form action="index.html" method="post">
        <fieldset>
            <legend><span class="number">1</span>Your basic details</legend>
            <label for="projectName">Project Name:</label>
            <input type="text" id="projectName" name="project_name" placeholder="" required pattern="[a-zA-Z0-9]+">

            <label for="products">Products You Can Offer:</label>
            <input type="text" id="products" name="products_offered" placeholder="Specify the products you can offer" required>

            <label for="contactNumber">Contact Number:</label>
            <input type="tel" id="contactNumber" placeholder="Enter your contact number" name="contact_number">
        </fieldset>

        <fieldset>
            <legend><span class="number">2</span>Project Details</legend>

            <label for="projectDescription">Project Description:</label>
            <textarea id="projectDescription" name="project_description" placeholder="Write your project description here..."></textarea>

            <button type="submit">Submit Project Details</button>
        </fieldset>
    </form>
</div>

<app-footer-style-two></app-footer-style-two>
