<div class="main-container">
    <div class="login-container">
        <form class="login-form" [formGroup]="loginForm">
            <div class="profile-image">
                <img src="assets/img/LogoProject.png" alt="Profile Image">
            </div>
    
            <div class="input-container">
                <input [class.error]="loginForm.controls['email'].dirty && loginForm.hasError('required','email')" formControlName="email" type="email" placeholder="Email">
                <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')" class="error-message">* Email is required</small>
            </div>
    
            <div class="input-container">
                <input [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" formControlName="password" [type]="type" id="passwordInput" placeholder="Password">
                <span class="toggle-password" (click)="hideShowPass()">
                    <i class="fa {{eyeIcon}}"></i>
                </span>
                <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="error-message">* Password is required</small>
            </div>
    
            <div class="forgot-password">
                <a href="/forgot-password" id="forget">Forget Password?</a>
            </div>
    
            <button (click)="login()" type="submit">Login</button>
    
            <div class="signup-link">
                <p>Don't have an account? <a routerLink="/signup">Sign Up</a></p>
            </div>       
        </form>
    </div>
    
</div>