<app-navbar-style-two></app-navbar-style-two>

<div class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2>Provider Dashboard</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class="bx bx-chevron-right"></i></li>
                <li>Provider Dashboard</li>
            </ul>
        </div>
    </div>
</div>
<div class="contact-location-area" style="padding: 10px">
    <div class="container">
        <div class="row">
            <div (click)="navDashboard(0)" class="col-sm-6 col-lg-3">
                <div
                    class="location-item"
                    style="margin-bottom: 0 !important"
                    [class.active]="navIndex == 0"
                >
                    <img
                        src="assets/img/home-one/services-shape.png"
                        alt="Add / Remove merchandise"
                    />
                    <i class="bx bx-sort-alt-2"></i>
                    <ul>
                        <li>Add / Remove merchandise</li>
                    </ul>
                </div>
            </div>

            <div (click)="navDashboard(1)" class="col-sm-6 col-lg-3">
                <div
                    class="location-item"
                    style="margin-bottom: 0 !important"
                    [class.active]="navIndex == 1"
                >
                    <img
                        src="assets/img/home-one/services-shape.png"
                        alt="My Store"
                    />
                    <i class="bx bx-store-alt"></i>
                    <ul>
                        <li>My Store</li>
                    </ul>
                </div>
            </div>

            <div
                (click)="navDashboard(2)"
                class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-3"
            >
                <div
                    class="location-item"
                    style="margin-bottom: 0 !important"
                    [class.active]="navIndex == 2"
                >
                    <img
                        src="assets/img/home-one/services-shape.png"
                        alt="Special Requests"
                    />
                    <i class="bx bx-star"></i>
                    <ul>
                        <li>Special Requests</li>
                    </ul>
                </div>
            </div>
            <div
                (click)="navDashboard(3)"
                class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-3"
            >
                <div
                    class="location-item"
                    style="margin-bottom: 0 !important"
                    [class.active]="navIndex == 3"
                >
                    <img
                        src="assets/img/home-one/services-shape.png"
                        alt="Clients Orders"
                    />
                    <i class="bx bxs-box"></i>
                    <ul>
                        <li>Clients Orders</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr
            style="
                background-color: #ffbe00;
                opacity: 1;
                height: 5px;
                border: none;
            "
        />
    </div>
</div>

<section *ngIf="navIndex == 0" class="story-area pt-100 pb-70">
    <div class="container">
        <div class="story-head">
            <h2>Add / Remove merchandise</h2>
            <table class="black-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Image</th>
                        <th style="text-align: center">
                            <button class="add" (click)="addItem()">Add</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let merchandise of merchandiseList">
                        <td>{{ merchandise.id }}</td>
                        <td>{{ merchandise.name }}</td>
                        <td>{{ merchandise.price }}</td>
                        <td>{{ merchandise.quantity }}</td>
                        <td>
                            <img
                                src="{{ merchandise.image }}"
                                alt="Food Image"
                            />
                        </td>
                        <td>
                            <button
                                class="edit"
                                (click)="editItem(merchandise.id)"
                            >
                                edit</button
                            ><button
                                class="remove"
                                (click)="removeItem(merchandise.id)"
                            >
                                remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div
                class="modal"
                [ngStyle]="{ display: showForm ? 'block' : 'none' }"
            >
                <div class="modal-content">
                    <form
                        style="text-align: left"
                        #formData="ngForm"
                        (ngSubmit)="submitForm(formData)"
                    >
                        <label [class.hide]="!editingItem" disabled for="id"
                            >ID:</label
                        >
                        <input
                            [class.hide]="!editingItem"
                            disabled
                            type="number"
                            id="id"
                            name="id"
                            [(ngModel)]="newMerchandise.productid"
                        />

                        <label for="name">Name:</label>
                        <input
                            type="text"
                            id="name"
                            name="name"
                            [(ngModel)]="newMerchandise.m_Name"
                            required
                        />
                        <label for="name">Description:</label>
                        <input
                            type="text"
                            id="name"
                            name="description"
                            [(ngModel)]="newMerchandise.m_Description"
                            required
                        />
                        <label for="price">Price:</label>
                        <input
                            type="number"
                            id="price"
                            name="price"
                            [(ngModel)]="newMerchandise.m_Price"
                            required
                        />

                        <label for="quantity">Quantity:</label>
                        <input
                            type="number"
                            id="quantity"
                            name="quantity"
                            [(ngModel)]="newMerchandise.m_Quantity"
                            required
                        />
                        <label for="quantity">Category:</label>
                        <input
                            type="text"
                            id="quantity"
                            name="quantity"
                            [(ngModel)]="newMerchandise.m_Category"
                            required
                        />
                        <!-- <label for="quantity">Status:</label>
                        <input
                            type="text"
                            id="quantity"
                            name="quantity"
                            [(ngModel)]="newMerchandise.status"
                            required
                        /> -->
                        <label for="image">Image:</label>
                        <input
                            type="file"
                            id="imageInput"
                            name="imageInput"
                            (change)="onFileSelected($event)"
                        />
                        <img
                            *ngIf="newMerchandise.m_Image"
                            [src]="newMerchandise.m_Image"
                            alt="Selected Image"
                            width="200"
                        />

                        <div
                            style="
                                display: flex;
                                justify-content: space-between;
                                margin-top: 10px;
                            "
                        >
                            <button type="submit">
                                {{ editingItem ? "Update Item" : "Add Item" }}
                            </button>
                            <button class="close" (click)="resetForm()">
                                Dismiss
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="navIndex == 1" class="story-area pt-100 pb-70">
    <div class="container">
        <div class="story-head">
            <h2>My Store</h2>
            <img
                *ngIf="storeData.image"
                [src]="storeData.image"
                alt="Selected Image"
                width="200"
            />
            <form
                style="
                    text-align: left;
                    border: solid #ffbe00;
                    padding: 50px;
                    margin: 20px 0;
                    border-radius: 20px;
                "
                #storeForm="ngForm"
                (ngSubmit)="submitForm(storeForm)"
            >
                <label disabled for="id">ID:</label>
                <input
                    disabled
                    type="number"
                    id="id"
                    name="id"
                    [(ngModel)]="storeData.id"
                />

                <label for="name">Name:</label>
                <input
                    type="text"
                    id="name"
                    name="name"
                    [(ngModel)]="storeData.name"
                    required
                />

                <div style="display: flex; flex-direction: column">
                    <label for="image">Image:</label>
                    <input
                        type="file"
                        id="imageInput"
                        name="imageInput"
                        (change)="updateStoreImage($event)"
                    />
                </div>

                <div
                    style="
                        display: flex;
                        justify-content: center;
                        margin-top: 10px;
                    "
                >
                    <button type="submit">Update Store</button>
                </div>
            </form>
        </div>
    </div>
</section>








<!-- <section *ngIf="navIndex == 2" class="story-area pt-100 pb-70">
    <div class="container">
        <div class="story-head">
            <h2>Special Request</h2>
            <div class="card-container">
                <div class="card" *ngFor="let specialRequest of pendingSpecialRequests">
                    <div class="card-header" [ngClass]="{
                        'acceptedStyle': specialRequest.orderStatus == 1,
                        'declinedStyle': specialRequest.orderStatus == 2,
                        'pendingStyle': specialRequest.orderStatus == 0
                    }">
                        <p>ID: {{ specialRequest.requestid }}</p>
                        <h2>{{ specialRequest.requesttitle }}</h2>
                    </div>
                    <div style="text-align: left;" class="card-body">
                        <p>Consumer Name: {{ specialRequest.consumerName }}</p>
                        <p>Consumer Phone: {{ specialRequest.consumerPhone }}</p>
                        <p>Date: {{ specialRequest.date }}</p> 
                        <p>Status:
                            <span [ngClass]="{
                                'accepted': specialRequest.requeststatus == 1,
                                'declined': specialRequest.requeststatus == 2,
                                'pending': specialRequest.requeststatus == 0
                            }">
                                {{ specialRequest.orderStatus == 0 ? 'Pending' : specialRequest.orderStatus == 1 ? 'Accepted' : 'Declined' }}
                            </span>
                        </p>
                    </div>
                    <div class="card-footer"[ngClass]="{
                        'acceptedStyle': specialRequest.requeststatus == 1,
                        'declinedStyle': specialRequest.requeststatus == 2,
                        'pendingStyle': specialRequest.requeststatus == 0
                    }">
                        <button class="edit" (click)="viewSpecialRequest(specialRequest.requestid)">View</button>
                    </div>
                </div>
            </div>
            
            <div
                class="modal"
                [ngStyle]="{ display: showOrder ? 'block' : 'none' }"
            >
                <div class="modal-content" style="max-width: unset !important">
                    <form
                        style="
                            text-align: left;
                            border: solid #ffbe00;
                            padding: 50px;
                            margin: 20px 0;
                            border-radius: 20px;
                        "
                        #specialRequestForm="ngForm"
                        (ngSubmit)="submitSpecialRequest(specialRequestForm)"
                    >
                        <label disabled for="id">ID:</label>
                        <input
                            disabled
                            type="number"
                            id="id"
                            name="id"
                            [(ngModel)]="specialRequest.id"
                        />

                        <label disabled for="name">Name:</label>
                        <input
                            disabled
                            type="text"
                            id="name"
                            name="name"
                            [(ngModel)]="specialRequest.name"
                            required
                        />
                        <label disabled for="consumerName"
                            >Consumer Name:</label
                        >
                        <input
                            disabled
                            type="text"
                            id="consumerName"
                            name="consumerName"
                            [(ngModel)]="specialRequest.consumerName"
                            required
                        />
                        <label disabled for="consumerPhone">Consumer Phone:</label>
                        <input
                            disabled
                            type="text"
                            id="consumerPhone"
                            name="consumerPhone"
                            [(ngModel)]="specialRequest.consumerPhone"
                            required
                        />
                       <div style="display: flex;flex-direction: column;">
                        <label disabled for="description">Description:</label>
                        <textarea
                            disabled
                            type="text"
                            id="description"
                            name="description" style="height: 150px;
                            padding: 10px;"
                            [(ngModel)]="specialRequest.description"
                            required
                        ></textarea>
                       </div>
                     

                        <div
                            style="
                                display: flex;
                                justify-content: center;
                                margin-top: 10px;
                            "
                        >
                            <button
                                (click)="specialRequest.orderStatus = 1"
                                style="margin: 0 30px"
                                type="submit"
                            >
                                Accept Order
                            </button>
                            <button
                                (click)="specialRequest.orderStatus = 2"
                                style="margin: 0 30px"
                                type="submit"
                            >
                                Decline Order
                            </button>
                            <button
                                class="close"
                                style="margin: 0 30px"
                                (click)="resetForm()"
                            >
                                Dismiss
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section *ngIf="navIndex == 2" class="story-area pt-100 pb-70">
    <div class="container">
        <div class="story-head">
            <h2>Special Request</h2>
            <div class="card-container">
                <div class="card" *ngFor="let specialRequest of pendingSpecialRequests">
                    <div class="card-header" [ngClass]="{
                        'acceptedStyle': specialRequest.requeststatus === 'Accepted',
                        'declinedStyle': specialRequest.requeststatus === 'Declined',
                        'pendingStyle': specialRequest.requeststatus === 'Pending'
                    }">
                    <h3 style="font-size: 20px; font-weight: bold;">Request Number: {{ specialRequest.requestid }}</h3>
                    </div>
                    <div style="text-align: left;" class="card-body">
                        <p style="font-size: 17px; "> Title: {{ specialRequest.requesttitle }}</p>
                        <p style="font-size: 17px; ">Details: {{ specialRequest.requestdetails }}</p>
                        <p style="font-size: 17px; ">Status:
                            <span [ngClass]="{
                                'accepted': specialRequest.requeststatus === 'Accepted',
                                'declined': specialRequest.requeststatus === 'Declined',
                                'pending': specialRequest.requeststatus === 'Pending'
                            }">
                                {{ specialRequest.requeststatus }}
                            </span>
                        </p>
                    </div>
                    <div class="card-footer"[ngClass]="{
                        'acceptedStyle': specialRequest.requeststatus === 'Accepted',
                        'declinedStyle': specialRequest.requeststatus === 'Declined',
                        'pendingStyle': specialRequest.requeststatus === 'Pending'
                    }">
                        <button class="edit" (click)="viewSpecialRequest(specialRequest)">View</button>
                    </div>
                </div>
            </div>
            <div class="modal" [ngStyle]="{ display: showOrder ? 'block' : 'none' }">
                <div class="modal-content" style="max-width: unset !important">
                    <form style="text-align: left; border: solid #ffbe00; padding: 50px; margin: 20px 0; border-radius: 20px;"
                          #specialRequestForm="ngForm" (ngSubmit)="submitSpecialRequest(specialRequestForm)">
                        <div>
                            <label disabled for="requestid">Request Number:</label>
                            <input disabled type="number" id="requestid" name="requestid" value="{{ selectedSpecialRequest?.requestid }}" />
                            
                            <label disabled for="requesttitle">Title:</label>
                            <input disabled type="text" id="requesttitle" name="requesttitle" value="{{ selectedSpecialRequest?.requesttitle }}" required />
                            
                            <label disabled for="requestdetails">Details:</label>
                            <input disabled type="text" id="requestdetails" name="requestdetails" value="{{ selectedSpecialRequest?.requestdetails }}" required />
                            
                            <label disabled for="consumerName">Consumer Name:</label>
                            <input disabled type="text" id="consumerName" name="consumerName" value="{{ selectedSpecialRequest?.consumerName }}" required />
                            
                            <label disabled for="consumerPhone">Consumer Phone:</label>
                            <input disabled type="text" id="consumerPhone" name="consumerPhone" value="{{ selectedSpecialRequest?.consumerPhone }}" required />
                        </div>
                        <div style="display: flex; justify-content: center; margin-top: 10px;">
                            <button (click)="selectedSpecialRequest.orderStatus = 1" style="margin: 0 30px" type="submit">Accept Order</button>
                            <button (click)="selectedSpecialRequest.orderStatus = 2" style="margin: 0 30px" type="submit">Decline Order</button>
                            <button class="close" style="margin: 0 30px" (click)="resetForm()">Dismiss</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>





<section *ngIf="navIndex == 3" class="story-area pt-100 pb-70">
    <div class="container">
        <div class="story-head">
            <h2>Clients Orders</h2>
            <table class="black-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Consumer Name</th>
                        <th>Consumer Phone</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th style="text-align: center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orderData">
                        <td>{{ order.id }}</td>
                        <td>{{ order.name }}</td>
                        <td>{{ order.consumerName }}</td>
                        <td>{{ order.consumerPhone }}</td>
                        <td>{{ order.date }}</td>
                        <td
                            [class.accepted]="order.orderStatus == 1"
                            [class.declined]="order.orderStatus == 2"
                            [class.pending]="order.orderStatus == 0"
                        >
                            {{
                                order.orderStatus == 0
                                    ? "Pending"
                                    : order.orderStatus == 1
                                    ? "Accepted"
                                    : "Declined"
                            }}
                        </td>
                        <td style="text-align: center">
                            <button class="edit" (click)="viewOrder(order.id)">
                                View
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div
                class="modal"
                [ngStyle]="{ display: showOrder ? 'block' : 'none' }"
            >
                <div class="modal-content" style="max-width: unset !important">
                    <form
                        style="
                            text-align: left;
                            border: solid #ffbe00;
                            padding: 50px;
                            margin: 20px 0;
                            border-radius: 20px;
                        "
                        #orderForm="ngForm"
                        (ngSubmit)="submitOrder(orderForm)"
                    >
                        <label disabled for="id">ID:</label>
                        <input
                            disabled
                            type="number"
                            id="id"
                            name="id"
                            [(ngModel)]="newOrder.id"
                        />

                        <label disabled for="name">Name:</label>
                        <input
                            disabled
                            type="text"
                            id="name"
                            name="name"
                            [(ngModel)]="newOrder.name"
                            required
                        />
                        <label disabled for="consumerName"
                            >Consumer Name:</label
                        >
                        <input
                            disabled
                            type="text"
                            id="consumerName"
                            name="consumerName"
                            [(ngModel)]="newOrder.consumerName"
                            required
                        />
                        <label disabled for="name">Consumer Phone:</label>
                        <input
                            disabled
                            type="text"
                            id="consumerPhone"
                            name="consumerPhone"
                            [(ngModel)]="newOrder.consumerPhone"
                            required
                        />
                        <table class="black-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Image</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="
                                        let merchandise of newOrder.merchandises
                                    "
                                >
                                    <td>{{ merchandise.id }}</td>
                                    <td>{{ merchandise.name }}</td>
                                    <td>{{ merchandise.price }}</td>
                                    <td>{{ merchandise.quantity }}</td>
                                    <td>
                                        <img
                                            src="{{ merchandise.image }}"
                                            alt="Food Image"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div
                            style="
                                display: flex;
                                justify-content: center;
                                margin-top: 10px;
                            "
                        >
                            <button
                                (click)="newOrder.orderStatus = 1"
                                style="margin: 0 30px"
                                type="submit"
                            >
                                Accept Order
                            </button>
                            <button
                                (click)="newOrder.orderStatus = 2"
                                style="margin: 0 30px"
                                type="submit"
                            >
                                Decline Order
                            </button>
                            <button
                                class="close"
                                style="margin: 0 30px"
                                (click)="resetForm()"
                            >
                                Dismiss
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer-style-two></app-footer-style-two>
