.nav-link {
    position: relative;
  }
  
  .bx-bell {
    font-size: 24px; /* حجم الأيقونة */
  }
  
  .notification-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid white;
  }
  