<app-navbar-style-two></app-navbar-style-two>
 
<div class="page-title-area page-title-img-one"> 
    <div class="container"> 
        <div class="page-title-item"> 
            <h2>Market Place</h2> 
            <ul> 
                <li><a routerLink="/">Shops</a></li> 
                <li><i class='bx bx-chevron-right' ></i></li> 
                <li>Market Place</li> 
            </ul> 
        </div> 
    </div> 
</div> 
 
<section class="collection-area collection-area-two pt-100 pb-70"> 
    <div class="container"> 
        <div class="section-title"> 
            <h2>Market Place</h2> 
            <p>Our market shop is not just a place to shop; it's a celebration of flavors, where each product tells a story of quality, craftsmanship, and culinary passion.</p> 
        </div> 
 
        <div class="sorting-menu"> 
            <ul>  
               <li class="filter active" data-filter="all">All</li> 
               <li class="filter" data-filter=".ui">Stationery</li> 
               <li class="filter" data-filter=".ux">Dessert</li> 
               <li class="filter" data-filter=".branding">Juice</li> 
            </ul> 
        </div> 
 
        <div id="Container" class="row"> 
            <div class="col-sm-6 col-lg-3 mix ui" *ngFor="let merchandise of allMerchandise"> 
                <div class="collection-item" > 
                    <div class="collection-top"> 
                        <img src="assets/img/items/shopsItems/Calculators .jpg" alt="Collection"> 
                        <ul> 
                            <li><i class='bx bxs-star checked'></i></li> 
                            <li><i class='bx bxs-star checked'></i></li> 
                            <li><i class='bx bxs-star checked'></i></li> 
                            <li><i class='bx bxs-star checked'></i></li> 
                            <li><i class='bx bxs-star '></i></li> 
                        </ul> 
                        <div class="add-cart"> 
                            <a routerLink="/cart"><i class='bx bxs-cart'></i> Add to Cart</a> 
                        </div> 
                    </div> 
 
                    <div class="collection-bottom"> 
                        <h3>{{merchandise.name}}</h3> 
                        <ul> 
                            <li><span>${{merchandise.price}}</span></li> 
                            <li> 
                                <div class="number"> 
                                    <span class="minus">-</span> 
                                    <input type="text" class="form-control" value="1"/> 
                                    <span class="plus">+</span> 
                                </div> 
                            </li> 
                        </ul> 
                    </div> 
                </div> 
            </div> 
 
         <!--   <div class="col-sm-6 col-lg-3 mix ui"> 
                <div class="collection-item"> 
                    <div class="collection-top"> 
                        <img src="assets/img/items/shopsItems/pen.jpg" alt="Collection"> 
                        <ul> 
                            <li><i class='bx bxs-star checked'></i></li> 
                            <li><i class='bx bxs-star checked'></i></li> 
                            <li><i class='bx bxs-star checked'></i></li> 
                            <li><i class='bx bxs-star checked'></i></li> 
                            <li><i class='bx bxs-star checked'></i></li> 
                        </ul> 
                        <div class="add-cart"> 
                            <a routerLink="/cart"><i class='bx bxs-cart'></i> Add to Cart</a> 
                        </div> 
                    </div> 
                    <div class="collection-bottom"> 
                        <h3>Pens</h3> 
                        <ul> 
                            <li><span>$1</span></li> 
                            <li> 
                                <div class="number"> 
                                    <span class="minus">-</span> 
                                    <input type="text" class="form-control" value="1"/> 
                                    <span class="plus">+</span> 
                                </div> 
                            </li> 
                        </ul> 
                    </div> 
                </div> 
            </div> 
 
            <div class="col-sm-6 col-lg-3 mix ux" > 
                <div class="collection-item"> 
                    <div class="collection-top"> 
                        <img src="assets/img/items/shopsItems/cookies.png" alt="Collection"> 
                        <ul> 
                            <li><i class='bx bxs-star checked'></i></li> 
                            <li><i class='bx bxs-star checked'></i></li> 
                            <li><i class='bx bxs-star checked'></i></li> 
                            <li><i class='bx bxs-star checked'></i></li> 
                            <li><i class='bx bxs-star checked'></i></li> 
                        </ul> 
                        <div class="add-cart"> 
                            <a routerLink="/cart"><i class='bx bxs-cart'></i> Add to Cart</a> 
                        </div> 
                    </div> 
                    <div class="collection-bottom"> 
                        <h3>Cookies</h3> 
                        <ul> 
                            <li><span>$0.5</span></li> 
                            <li> 
                                <div class="number"> 
                                    <span class="minus">-</span> 
                                    <input type="text" class="form-control" value="1"/> 
                                    <span class="plus">+</span> 
                                </div> 
                            </li> 
                        </ul> 
                    </div> 
                </div> 
            </div> 
 
            <div class="col-sm-6 col-lg-3  mix branding "> 
                <div class="collection-item"> 
                    <div class="collection-top"> 
                        <img src="assets/img/items/shopsItems/juice.png" alt="Collection"> 
                        <ul> 
                            <li><i class='bx bxs-star checked'></i></li> 
                            <li><i class='bx bxs-star checked'></i></li> 
                            <li><i class='bx bxs-star checked'></i></li> 
                            <li><i class='bx bxs-star checked'></i></li> 
                            <li><i class='bx bxs-star checked'></i></li> 
                        </ul> 
                        <div class="add-cart"> 
                            <a routerLink="/cart"><i class='bx bxs-cart'></i> Add to Cart</a> 
                        </div> 
                    </div> 
                    <div class="collection-bottom"> 
                        <h3> Al Rabie Juice</h3> 
                        <ul> 
                            <li><span>$0.65</span></li> 
                            <li> 
                                <div class="number"> 
                                    <span class="minus">-</span> 
                                    <input type="text" class="form-control" value="1"/> 
                                    <span class="plus">+</span> 
                                </div> 
                            </li> 
                        </ul> 
                    </div> 
                </div> 
            </div> 
      
            -->
 
            
        </div> 
    </div> 
</section> 
 
<app-footer-style-two></app-footer-style-two>