.row{
    justify-content: space-evenly !important;
}
.form-control{
    padding: 0px .75rem !important;
   
}

.refresh-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.refresh-message {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    font-style: italic;
    margin-right: 5px; /* يمكنك زيادة أو تقليل هذا الرقم حسب الفضاء الذي ترغب فيه */
}

.refresh-button {
    background-color: #001f3f;
    color: #fff;
    border: none;
    padding: 4px 9px; /* قمت بتصغير حجم الكبسة */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5px; /* زيادة الفضاء بين الفقرة والكبسة */
    margin-top: -10px;
}

.refresh-button:hover {
    background-color: #003366;
}
.checkoutBtn{
    margin-top: 20px;
    display: inline-block;
    color: #ffffff;
    background-color: #ffbe00;
    font-size: 17px;
    padding: 15px 60px;
    border: none;
    &.disabled{
        background-color: #c3c3c3;  
    }
}
.side-cart {
    position: fixed;
    right: 0;
    top: 140px;
    width: 300px;
    max-height: 530px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.cart-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.table {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.table .thead, .table tbody {
    display: block;
}

.table .thead {
    margin-bottom: 10px;
}

.table tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.table th, .table td {
    width: 100%;
    text-align: center;
}

.table img {
    max-width: 50px;
}

.shop-back, .total-shopping {
    text-align: center;
    margin-top: 20px;
}
.table-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.total-shopping h3 {
    margin-bottom: 20px;
}

.checkoutBtn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}
.table-row{
    background-color:#ffedb6;
    margin: 5px;
    border-radius: 5px;
    border: #ffbe00 solid 2px;
}
.checkoutBtn.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.remove-btn{
    background-color: #ff8989;
    padding: 5px;
    color: white;
    border-radius: 67px;
    max-width: 27px;
    max-height: 30px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    i{
        font-size: 20px;
    }
}

