.content {
    width: calc(100% - 330px); /* Calculate the remaining width after the sidebar width */
    margin-left: 330px; /* Set the margin-left to match the sidebar width */
}
.open {
    color: green;
  }
  
  .closed {
    color: red;
  }
  .card-img-top {
    width: 100%;
    height: 200px; /* أو أي ارتفاع يناسب تصميمك */
    object-fit: cover; /* للحفاظ على نسبة العرض إلى الارتفاع */
}
