
<div class="signup">
    <form [formGroup]="signUpForm" >
        <div class="profile-image">
            <img src="assets/img/LogoProject.png" alt="Profile Image">
        </div>
        <label for="chk" aria-hidden="true" style="margin: -13px;"></label>
        <input [class.error]="signUpForm.controls['fullName'].dirty && signUpForm.hasError('required','fullName')" formControlName="fullName" type="text"  placeholder="Full Name" >
        <input [class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')" formControlName="email" type="email"  placeholder="Email" >
        <input [class.error]="signUpForm.controls['userName'].dirty && signUpForm.hasError('required','userName')" formControlName="userName" type="text"  placeholder="User Name" >

        <div class="password-container">
            <input [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')" formControlName="password" [type]="type" id="passwordInput"  placeholder="Password">
            <span class="toggle-password" (click)="hideShowPass()">
              <i class="fa {{eyeIcon}}"></i>
            </span>
        </div>
        <!-- <input type="password" name="repeat-password" placeholder="Repeat Password" required=""> -->
        <button (click)="onSignup()" type="submit" >Sign Up</button>
        <div class="text-center pt-4 text-muted">Already have account? <a id="forget" routerLink="/login">Login</a></div>
        <br />
        <p style="color: black; margin-top: 10px; text-align: center; font-weight: bold;">Continue with</p>       
        <div class="icons-container">
            <div class="chef-bottom" style="display: flex;">
                <a target="_blank" href="#" style="margin-right: 75px; color: #4267B2;"><i class='bx bxl-facebook' style='font-size: 30px;'></i></a>
                <a target="_blank" href="#" style="margin-right: 75px; color: #55ACEE;"><i class='bx bxl-twitter' style='font-size: 30px;'></i></a>
                <a target="_blank" href="#" style="color: #dd4b39;"><i class='bx bxl-google' style='font-size: 30px;'></i></a>
            </div>
        </div>
        
        <div class="icons-container">
            <a style="margin-right: 45px; color: #4267B2;">Facebook</a>
            <a style="margin-right: 45px; color: #55ACEE;">Twitter</a>
            <a style="color: #dd4b39;">Google+</a>
        </div>
    </form>
</div>
