<div class="main-container">
    <div class="signup-container">
        <form class="signup-form" [formGroup]="signUpForm">
            <div class="profile-image">
                <img src="assets/img/LogoProject.png" alt="Profile Image">
            </div>
    
            <div class="input-container">
                <input [class.error]="signUpForm.controls['fullName'].dirty && signUpForm.hasError('required','fullName')" formControlName="fullName" type="text" placeholder="Full Name">
                <small *ngIf="signUpForm.controls['fullName'].dirty && signUpForm.hasError('required','fullName')" class="error-message">* Full Name is required</small>
            </div>
    
            <div class="input-container">
                <input [class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')" formControlName="email" type="email" placeholder="Email">
                <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')" class="error-message">* Email is required</small>
                <small *ngIf="signUpForm.controls['email'].errors?.invalidEmail" class="error-message">* Invalid email. Must end with @cit.just.edu.jo</small>
            </div>
    
            <div class="password-container">
                <input [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')" formControlName="password" [type]="type" id="passwordInput" placeholder="Password">
                <span class="toggle-password" (click)="hideShowPass()">
                    <i class="fa {{eyeIcon}}"></i>
                </span>
                <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')" class="error-message">* Password is required</small>
            </div>
    
            <button (click)="onSignup()" type="submit">Sign Up</button>
    
            <div class="text-center pt-4 text-muted">Already have an account? <a id="forget" routerLink="/login">Login</a></div>
        </form>
    </div>
    
</div>