<app-navbar-style-two></app-navbar-style-two>
 

 
<div class="page-title-area page-title-img-one"> 
    <div class="container"> 
        <div class="page-title-item"> 
            <h2>Profile</h2> 
            <ul> 
                <li><a routerLink="/">Home</a></li> 
                <li><i class='bx bx-chevron-right' ></i></li> 
                <li>Profile</li> 
            </ul> 
        </div> 
    </div> 
</div> 
<br /> 
<br /> 
 
<div class="cart-table-area section-padding-100"> 
    <div class="container-fluid"> 
        <div class="profile-container" style="max-width: 800px; margin: 0 auto;"> 
            <div class="profile-details" style="max-width: 800px; margin: 0 auto;"> 
                <div class="profile-image"> 
                    <img src="assets/img/campus_consumer/{{userdata.imagepath}}" alt="Profile Image"> 
                </div> 
                <br /> 
 
               <div>
                <div class="form-group">
                    <label for="Name">Name:</label>
                    <input placeholder="Consumer Name" type="text" id="fullname" class="form-control" [(ngModel)]="userdata.fullname" readonly>
                </div>
        
             
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input placeholder="Consumer@cit.just.edu.jo" type="text" id="email" class="form-control" [(ngModel)]="userdata.email" readonly>
                </div>
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input placeholder="07XXXXXXXX" type="text" id="phone" class="form-control" [(ngModel)]="userdata.phone" readonly>
                </div>
        
                <div class="text-center">
                    <button (click)="open()" class="btn btn-primary mt-3" 
                        style="background: #ffbe00;">Update Profile</button>
                </div>
               </div>
               
                <div 
                class="modal"
                [ngStyle]="{ display: showForm ? 'block' : 'none' }"
            >
                <div class="modal-content">
                    <form
                        style="text-align: left"
                        #formData="ngForm"
                        (ngSubmit)="submitForm(formData)"
                    >
                        <label  disabled for="fullname"
                            >Name:</label
                        >
                        <input
                            
                            
                            type="text"
                            id="fullname"
                            name="fullname"
                            [(ngModel)]="userdata.fullname"
                        />

                       
                        <label for="email">Email:</label>
                        <input
                            type="text"
                            id="email"
                            name="email"
                            [(ngModel)]="userdata.email"
                            required
                        />
                        <label for="phone">Phone:</label>
                        <input
                            type="text"
                            id="phone"
                            name="phone"
                            [(ngModel)]="userdata.phone"
                            required
                        />
                        <input
                        type="number"
                        id="consumerid"
                        name="consumerid"
                        [(ngModel)]="userdata.consumerid"
                       value="this.apiUserData.login_ConsumerID"
                        hidden
                    />
                    <input
                        type="number"
                        id="roleid"
                        name="roleid"
                        [(ngModel)]="userdata.roleid"
                       value="this.apiUserData.login_ConsumerID"
                        hidden
                    />
                        <label for="image">Image:</label>
                        <input
                            type="file"
                            id="image"
                            name="image"
                            #file
                            (change)="uploadImage(file.files)"
                        />
                        <img
                            *ngIf="userdata.imagepath"
                            [src]="userdata.imagepath"
                            alt="Selected Image"
                            width="200"
                        />

                        <div
                            style="
                                display: flex;
                                justify-content: space-between;
                                margin-top: 10px;
                            "
                        >
                            <button type="submit">
                                Update User Data
                            </button>
                            <button class="close" (click)="toggleModal()">
                                Dismiss
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            </div> 
        </div> 
    </div> 
</div> 
 
<br /> 
<br />