<!-- <div class="main-container">
    <div class="forgot-password-container">
        <form class="forgot-password-form" [formGroup]="forgotPasswordForm">
            <div class="profile-image">
                <img src="assets/img/LogoProject.png" alt="Profile Image">
            </div>
    
            <div class="input-container">
                <input [class.error]="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.hasError('required','email')" formControlName="email" type="email" placeholder="Email">
                <small *ngIf="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.hasError('required','email')" class="error-message">* Email is required</small>
                <small *ngIf="forgotPasswordForm.controls['email'].errors?.invalidEmail" class="error-message">* Invalid email. Must end with @cit.just.edu.jo</small>
            </div>
    
            <button (click)="forgotPassword()" type="submit">Submit</button>
    
            <div class="text-center pt-4 text-muted">Remembered your password? <a id="forget" routerLink="/auth/login">Login</a></div>
        </form>
    </div>
</div> -->