

<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <nav class="navbar bg-light navbar-light">
        <a routerLink="/admin/dashboard" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary">Campus Mart</h3>
        </a>
    </nav>
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link " data-bs-toggle="dropdown">
                <i class="fa fa-envelope me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">Message</span>
            </a>
        </div>
        <div class="nav-item dropdown me-3">
            <a href="#" class="nav-link" data-bs-toggle="dropdown">
                <i class="fa fa-bell me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">Notification</span>
            </a>
        </div>
        
        <div class="nav-item">
            <a class="btn btn-danger  py-0">
                <i class="bi bi-x-lg"  href="/auth/login"  (click)="logout()"></i> Logout
            </a>
        </div>
    </div>
</nav>

